<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.docilealligator.infinityforreddit.bg.refresh.inbox</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.docilealligator.infinity</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>infinity</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>AtkinsonHyperlegible-Regular.ttf</string>
		<string>AtkinsonHyperlegible-Bold.ttf</string>
		<string>BalsamiqSans-Regular.ttf</string>
		<string>BalsamiqSans-Bold.ttf</string>
		<string>HarmoniaSansW01-Regular.ttf</string>
		<string>HarmoniaSansW01-Bold.ttf</string>
		<string>Inter18pt-Regular.ttf</string>
		<string>Inter18pt-Bold.ttf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-Bold.ttf</string>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>Sriracha-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
